<!DOCTYPE html>
<html>

<head>
  <title>Añadir Producto</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
</head>

<body>
  <h1>Añadir producto</h1>

  <form action="/products/add" method="post">

    <label for="codigo">Código:</label>
    <input type="number" id="codigo" name="codigo" placeholder="Código del producto" required />

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" placeholder="Nombre del producto" required />

    <label for="precio">Precio:</label>
    <input type="number" step="0.01" id="precio" name="precio" placeholder="0,00" required />

    <label for="categoria">Categoría:</label>
    <input type="text" id="categoria" name="categoria" placeholder="Categoria del producto" required />

    <button type="submit">Agregar nuevo Producto</button>
  </form>
  <a href="/products">Regresar a Productos</a>
</body>

</html>