<!DOCTYPE html>
<html>
  <head>
    <title>Products</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    <h1>Products</h1>
    <a href="/products/add">Add New Product</a>
    <ul>
      <% products.forEach(function(product) { %>
      <li>
        <a href="/products/<%= product.id %>"><%= product.name %></a>
        <form
          action="/products/<%= product.id %>?_method=DELETE"
          method="post"
          style="display: inline"
        >
          <input type="hidden" name="_method" value="delete" />
          <button type="submit">Delete</button>
        </form>
        <a href="/products/edit/<%= product.id %>">Edit</a>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
