<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
</head>

<body>
  <h1>¡Crea tu usuario GRATIS!</h1>
  <h3>¡Compra tus productos con 0% de descuento!</h3>
  <form action="/register" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <button type="submit">Registrarme</button>
  </form>
  <a href="/">Volver a Home</a>
</body>

</html>